{% extends 'base.html' %}

{% block content %}
        <!-- about part here -->
        <section class="about_part section_padding"  align="center">
            <div class="container">
                <div class="row" style = "    align-items: center;
    display: flex;
    justify-content: center;">
                    <div class="col-lg-7">
                        <div class="about_tittle" style = "text-align: center;">
                        <h1 style="height:5%;"> शोर </h1>
                            <p><br>SHOR, above all, represents freedom. Freedom from expectations, uniforms and conventions. Streetwear
originated from California surf and skate culture in the ‘90s. Think of streetwear as what you choose to
wear after you’ve changed out of your school uniform, or your suit and tie, or your business-formal skirt
and blouse. Basically, what you choose to wear when you have no one to answer to but yourself. The
spirit of streetwear is encapsulated in those precious few hours in the early afternoon to evening when
you’re living your life on your own terms and doing what you want to do. Not everyone who wears
streetwear hangs out at the beach or the skatepark, but they don’t let themselves become defined by what
they do in their 9 to 5s. SHOR is an extension of streetwear to the Indian context- uniquely suited to the needs of India's young demographics.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about part end -->

{% endblock %}
